{% extends "layout/main.twig" %}

{% block content %}



    <div class="block-wide">

        <div class="block-title">
            <h1>Конструктор</h1>
        </div>

        <hr>

        <div class="block-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, at autem commodi cum eius eum ex quisquam
                sequi similique soluta tenetur voluptatum? Aspernatur ex iure labore. Cupiditate quaerat tempora totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis recusandae sint voluptatem? Asperiores
                cupiditate doloremque excepturi fugiat numquam quis rem repellat sed sint tenetur totam, veniam vero
                voluptatem. Repellendus, voluptas. Lorem </p>
        </div>

        <hr>

    </div>

    <div class="block-img">
        <img src="/img/1019.jpg" alt="">
    </div>

    <hr>

    <div class="block-wide">

        <div class="block-company">
            <div class="company">
                <div class="company-content">
                    <div class="company-img">
                        <img src="/img/i_1.jpg" alt="">
                    </div>
                    <div class="company-text">
                        <p>Компания ROKS (ранее – «Камень природы») существует с 2008 г. За время работы мы выросли из
                            небольшой торговой фирмы в крупную компанию, которой доверяют и закрепили за собой статус
                            признанного эксперта на рынке.</p>
                        <p>Мы открыли 2 торгово-складские площадки и запустили собственное производство каменной плитки.
                            В каталоге ROKS представлен самый широкий ассортимент продукции из натурального камня в
                            Сибири, а в нашем портфолио – такие проекты, как Новосибирский аквапарк, ЖК «Оазис», ЖК
                            «Переулок бульварный», и множество выполненных проектов для частных и корпоративных
                            заказчиков</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="block-button">
            <button>Button</button>
        </div>

        <hr>

        <div class="block-buttonModal">
            <a href="#openModal" class="js-rightSideBarCtrl">ButtonSideBar</a>
        </div>

        <div class="rightSideBar" id="openModal">
            <div class="rightSideBar-content">
                <div class="rightSideBar-close js-rightSideBarCtrl"></div>
                <div class="customForm">
                    <form enctype="multipart/form-data" method="post" id="form" onsubmit="send(event,
                  'send.php')">
                        <div class="form-content">
                            <div class="form-text">
                                <div class="form-title">Вам нужен камень, но вы не знаете, какой именно и сколько?</div>
                                <div class="form-title">Или у вас другие вопросы по нашей продукции и услугам? Оставьте
                                    свой номер и мы вам позвоним.
                                </div>
                            </div>
                            <div class="form-form">
                                <input type="hidden" name="code" value="" id="code">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Имя" name="name" required=""
                                           maxlength="35">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="+7"
                                           required="" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{10,10}$"
                                           minlength="10" maxlength="17">
                                </div>
                                <div class="form-politics">
                                    <p>Отправляя заявку, вы соглашаетесь с условиями
                                        <a href="/policy">Политики конфиденциальности сайта</a>
                                    </p>
                                </div>
                                <div class="form-button">
                                    <button class="btn1" type="submit">Отправить заявку</button>
                                    <!--                                <a href="#openModal3" class="btn1 js-rightSideBarCtrl2">Отправить заявку</a>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr>


    </div>


{% endblock %}