<header class="header">
    <div class="header-content header-wide">
        <div class="header-desktop">
            <div class="header-logo">
                <a href="/">
                    <img src="/img/logoWhite.png" alt="">
                </a>


            </div>
            <div class="headerMenu">
                <ul>
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header-contacts">
                <a href="tel:+7999999999">7 (999) 999 999</a>

                <a href="#">
                    <button class="btn">
                        Оставить заявку
                    </button>
                </a>
            </div>
        </div>


        <div class="header-mobileMenu">
            <div class="header-mobileMenu-logo">
                <a href="/">
                    <img src="/img/logoWhite-mobile.png" alt="">
                </a>
            </div>
            <div class="header-mobileMenu-burger">
                <button class="js-sideBarCtrl">
                    <img src="/img/burger.png" alt="">
                </button>
                <div class="sideBar">
                    <div class="sideBar-content">
                        <div class="content">
                            <div class="sideBar-close">
                                <div class="js-sideBarCtrl">
                                    <img src="/img/close.png" alt="">
                                </div>
                            </div>
                            <div class="menu">
                                <ul class="menu-ul">
                                    <li class="menu-li">
                                        <a href="#" class="menu-a">Главная</a>
                                    </li>
                                    <li class="menu-li">
                                        <a href="#" class="menu-a">О компании</a>
                                    </li>
                                    <li class="menu-li">
                                        <a href="#" class="menu-a">Услуги</a>
                                    </li>
                                    <li class="menu-li">
                                        <a href="#" class="menu-a">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


