@import "../sprite";
@import "../misc/bootstrap";


.copyright {
  background: #121212;
  position: relative;
  padding: 10px 0;
  color: white;
  font-size: 14px;
}

.copyright-wide {
  max-width: 90%;
  width: 96%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.copyright-content {
  display: flex;
  justify-content: space-between;

  @include media-max(md) {
    flex-direction: column;
  }
}









