@import "../sprite";
@import "../misc/bootstrap";


.header {
  background: #000;
  position: relative;
  z-index: 5;
  height: 80px;

  @media (max-width: 992px) {
    height: 60px;
  }
}

.header-wide {
  max-width: 90%;
  width: 96%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @media (max-width: 992px) {
    display: none;
  }
}

.header-logo {
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}

.headerMenu {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    li {
      a {
        color: white;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          color: red;
        }
      }

      + li {
        padding-left: 55px;
      }
    }
  }
}

.header-contacts {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
    font-size: 18px;
  }
}

.header-mobileMenu {
  display: none;
  @media (max-width: 992px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}



